aws_region             = "us-east-1"
cluster_name           = "sre-capstone"
app_image              = "123456789012.dkr.ecr.us-east-1.amazonaws.com/sre-capstone-app:latest"
database_password      = "CHANGE_ME"
grafana_admin_password = "CHANGE_ME"
